<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .textbackgroundcolor
    {
        
        width: 100px;
        text-align: right;
        display: inline-block;
        -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 5px; 
    border: solid 1px #878787; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #D8D8D8), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    width: 140px;

    
    }
    .rightalign
    {
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
        float: right;
        
    }
    .leftalign
    {
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
        float: left;
    }
    .backgroundcolor 
    {
        background-color: #1C728A;
    }
    
   
</style>
<form  style="width: 1170px;margin-left: 90px; background-color: #E0E0E0;margin-top: -19px;">
<div class="container">
    <div class="row">
        <div class="col-sm-4">
       <div class="leftalign">Select Portfolio/Domain</div>

<div class="rightalign"><input type="text" class="textbackgroundcolor"/></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Select Application</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>
    <div class="col-sm-4">
        <div class="leftalign">Description</div>
        <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
        </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
<div class="leftalign">Application Type</div>
<div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
<div  class="leftalign">Business Criticality</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div> 
<div class="col-sm-4">
   <div class="leftalign"> AMC Contract ? </div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor"/></div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
    <div class="leftalign">Application Category </div>
 <div class="rightalign"> <input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
 <div class="leftalign">App. Sub-Category</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
 <div class="leftalign">Business Owner</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
<div class="leftalign">IT Owner</div>
   <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Product Vendor</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
  <div class="leftalign">Current Ver./Rel.</div>
  <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
  <div class="leftalign">Ideal Ver./Rel.</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Hardware</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
  <div class="leftalign"> Platform</div>
  <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
  <div class="leftalign">Operating System</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
  <div class="leftalign"> Database</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>

</div>
<br>
<div class="row">
    <div class="col-sm-4">
 <div class="leftalign">Dev.Platform</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
   <div class="leftalign">Customization Level</div>
   <div class="dropdown rightalign">
    <button  type="button" data-toggle="dropdown" class="textbackgroundcolor">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
 
</div>
<div class="col-sm-4">
    <div class="leftalign">Instance Type</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>

</div>
<br>
<div class="row">
    <div class="col-sm-4">
  <div class="leftalign"># Of Inbound I/F</div>
  <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
   <div class="leftalign"> # Of Outbound I/F</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Concurrent User #</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>

</div>
<br>
<div class="row">
    <div class="col-sm-4">
 <div class="leftalign"> Future Plans</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Plan Status</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Timelines for Plan</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>

</div>
<br>
<div class="row">
    <div class="col-sm-4">
  <div class="leftalign">Support Cost / mth</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Other Costs / mth</div>
<div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Vendor Support Level</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>

</div>
<br>
<div class="row">
    <div class="col-sm-4">
   <div class="leftalign">Support Vendor Name</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
   <div class="leftalign"> External Sup. FTE #</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign">Internal Sup. FTE #</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>

</div>
<br>
<div class="row">
    <div class="col-sm-4">
 <div class="leftalign">Support Hours</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
   <div class="leftalign"> # of Inflight Projects</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    <div class="leftalign"># of Planned Projs.</div>
    <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
    </div>

</div>
<br>
<div class="row">
    <div class="col-sm-4">
  <div class="leftalign">User Satisfaction</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
   <div class="leftalign"> Planned Outrages/Yr.</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
 <div class="leftalign"> Revenue Criticality</div>
 <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
<div class="col-sm-4">
<div class="leftalign">Regular Risk</div>
<div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
</div>
</div>
</div>
<div style="margin-bottom: 40px;"></div>
  </form>